
body {
  font-family: 'Anime Ace'; 
  margin: 0;
  padding: 0;
  background-color: #FCF7FB; 
}


header {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 20px;
  padding: 40px 20px; 
  max-width: 1200px; 
  margin: 0 auto; 
}

header img {
  border-radius: 50%; 
  margin-bottom: 20px;
  border: 4px solid #d18fd3;  
}

header h1 {
  font-size: 2em; 
  color: #7A4DB3; 
  font-style: italic; 
  margin: 0; 
}

header nav {
  display: flex;
  gap: 15px;
}

header nav a {
  text-decoration: none;
  color: #7A4DB3; 
}

header nav a:hover {
  text-decoration: underline;
  color: #D18FD3;
}

header nav a:active {
  text-decoration: underline;
  background-color: #D18FD3; 
}

header nav a.active {
  text-decoration: underline;
  color: #D18FD3;
 
}


.title-page {
  font-size: 2em;
  font-weight: bold;
  color: #7A4DB3; 
  margin-bottom: 20px;
  text-align: center;
}


Webtoon {
 display: flex;
 flex-direction: column;
 gap: 40px;
 padding: 20px;
 max-width: 1200px;
 margin: 0 auto;
 }


Webtoon Cover {
  display: block;
  width: 100%;
  height: 200px; 
  overflow: hidden; 
  flex: 0 0 250px; 
}

Webtoon Cover img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 8px;
}



Webtoon Title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #dark black;
  margin-top: 5px;
  margin-bottom: 10px;
}


Webtoon Translator {
  font-size: 15px;
  color: #7A4DB3;
  font-weight: bold;
  margin-bottom: 20px;
}


Webtoon Summary  {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
  text-align: justify;
}


#copyright
{
color:black;
font-size:16px;
text-align:center;
font-style: italic;
bottom: 0;
left: 0;
right: 0;
}